@media only screen and (max-width: 600px) {
    #top2 {
      display: none;}
    }

html{
    height: 100%;
}

.container{
    padding-top: 70px;
    padding-bottom: 225px;
}

.aboutUsTitle {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
  }
.aboutUsTitle::after {
  background: #fdb801 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 134px;
}

  .aboutUsImages{
      height: 240px;
  }

  .sideText{
      font-style: italic;
  }

#navLogo{
    max-width: 40px;
    max-height: 40px;
}

.buttonClass {
    margin-top: 25px;
    
}

.results-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
  }

.results-title::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 110px;
}

.bmi-image{
    height:350px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    
    font-size: large;
}




#top1 {
    margin: 0;
    padding: 0;
}

#top2{
    margin: 0;
    padding: 0;
    
}


#Nav1 {
    justify-content: center;
}

#about-us-text{
    margin: 50px;
    border-left: 50px;
    justify-content: center;
}

#map {
    height: 500px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

#height{
    max-width: 100px;
}
#weight{
    max-width: 100px;
}

#btmText {
    color: white;
    background-color: black;
}

#footer{
    position: fixed;
    padding 10px 10px 10px 10px;
    bottom: 0;
    height: 40px;
    width: 100vw;
    background: grey;
}